DATABASE_URL=postgresql://postgres:postgres@localhost:5432/gb_realengo
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=changeme

SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
EMAIL_FROM="GB Realengo <noreply@gbrealengo.com>"

SCHOOL_LAT=-22.8941172
SCHOOL_LNG=-43.4420113
RADIUS_M=20
WINDOW_BEFORE_MIN=15
WINDOW_AFTER_MIN=30
MIN_ACCURACY_M=50
AUTO_APPROVE=false
USE_STRICT_MIN_FOR_BRANCA=false
TIMEZONE=America/Sao_Paulo

ADMIN_EMAIL=admin@gbrealengo.com
ADMIN_LOGIN_MODE=otp
# ADMIN_PASSWORD=TroqueNoPrimeiroLogin

FILES_PROVIDER=local
FILES_BUCKET=gbrealengo-app
FILES_BASE_URL=http://localhost:3000
FILES_MAX_SIZE_MB=5

PROFILE_STUDENT_CAN_EDIT_MEDICAL=false
